.simple-calendar{

  .day{
    background-color: rgb(184, 213, 184);
  };
  .past{
    background-color: rgb(232, 179, 179);
  };
  .today{
    background-color: rgb(255, 143, 143) ;
  };
  .has-events{
    background-color:rgb(255, 143, 143);
  }


}
