

<div class="container d-flex">
  <div class = "w-25 flex-column bg-light">
    <h5>Wearable: <%= @booking.wearable.title %></h5>
    <h5>From: <%= ((@booking.start_date).to_s)[0..9] %></h5>
    <h5>To: <%= ((@booking.end_date).to_s)[0..9] %></h5>
    <% days = ((@booking.end_date - @booking.start_date)/(24 * 60**2)).to_i  %>
    <% p = @wearable.price  %>
    <% total = p*days  %>
    <h5> <%="#{days} days x #{p} = #{total}" %></h5>
  </div>
  <div class=" w-25 d-flex bg-primary">
    Pay
  </div>

</div>
