<div class="ps-3 card-details">
  <div>
    <h5 class= "pe-3 pt-3"> <strong> <%= wearable.title %> </strong></h5>
  </div>
</div>
<%= cl_image_tag wearable.photos[0].key, height: 200, width: 130, crop: :fill %>
</div>
