.bookings-page{

  background-color: rgb(223, 235, 255);
  border-radius: 15px;
}

.yes{
  background-color: rgb(164, 255, 179);
  border-radius: 50px;
  height: 20px;
  color:white;

}
.no{
  background-color: rgb(255, 172, 172);
  border-radius: 50px;
  height: 20px;
  color:white;
}
.yes-text{
  color:white;
  font-size: 10px;
  align-self: center;
  font-weight: 900;
}
.no-text{
  color:white;
  font-size: 10px;
  align-self: center;
  font-weight: 900;
}
